/* looking for color-pallete */

body {
    background-color: lightblue;
    font-family: "Roboto", "Poppins";
}

h1 {
 display: grid;
 justify-content: center;
 margin-right: -35px;
 font-family: "Roboto";
 font-size: 32px;
 font-weight: 700;
 color: white;

}

 .list-group {
    list-style: none;
    display: grid;
    gap: 2px;
    justify-content: center;
}

.modal-header {
    display: none;
}

/* .pokemon-button:hover {
    cursor: pointer;
    opacity: 0.75;
} */

/* /* .btn-primary {
    /* background-color: rgb(255, 145, 41); */
    /* border: none;
    border-radius: 6px;
    padding: 10px 24px;
    margin: 4px 2px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    font-family: "Poppins";
    font-size: 16px;
    color: rgb(134, 42, 253);
    transition-duration: 0.1s;    */


/* #modal-container {
    display: none;
}

#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999; /* showing it above other content */
    /* overflow: auto; allowing scrolling if the screen is not high enough */
    /* display: grid; centering the modal */
    


/* .modal {
    margin: auto;
    display: inline-block;
    background: rgb(255, 151, 54);
    padding: 15px;
    width: 100%;
    max-width: 350px;
    text-align: center;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(169, 103, 255);
    border-width: 4px;

} */

/* .modal-close {
    float: right;
    border: 0;
    background: none;
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer;   
} */

 .modal-title {
    font-size: 24;
    font-weight: 500;
    text-align: left;
    margin-top: 0;
}

.pokemon-details {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
    text-align: left;
}

/* .modal img {
    max-width: 100%;
    height: auto;
} */

@media all and (max-width: 767px) {
    h1 {
        font-size: 22px;
    }
    /* .modal h1 {
        font-size: 12px;
    }
    .modal p {
        font-size: 11px;
    } */
}

@media all and (min-width: 767px) and (max-width: 1119px){
    h1 {
        font-size: 32px;
    }
    /* .modal h1 {
        font-size: 16px;
    }
    .modal p {
        font-size: 14px;
    } */
} 
