/* looking for color-pallete */

body {
    background-color: lightblue;
    font-family: "Roboto", "Poppins";
}

.app-title {
    display: grid;
    justify-items: center;
    font-family: inherit;
    font-size: 32px;
    font-weight: 700;
    color: white;

}

.navbar-brand {
    font-size: medium;
}

.col-sm {
    display: grid;
    justify-content: center;
}

.list-group {
    list-style: none;
    gap: 2px;
}

.btn-primary {
    width: 200px;
    background-color: rgb(255, 145, 41);
    border-style: none;
    text-transform: uppercase;
}

.bnt-primary:active {
    color: white;

}

.btn-primary:hover {
    background-color: rgb(255, 145, 41);
    border-style: none;
    opacity: 0.75;
}

.modal-header {
    display: grid;

}

.modal-title {
    text-align: left;
    text-transform: uppercase;
}


.pokemon-details {
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

.close {
    text-align: right;
}


