/* looking for color-pallete */

body {
    background-color: lightblue;
    font-family: "Roboto", "Poppins";
}
h1 {
 display: grid;
 justify-items: center;
 font-family: "Roboto";
 font-size: 24px;
 font-weight: 700;
 color: white;
}

ul{
    display: grid;
    grid-template-columns: auto;
    list-style: none;
}

.pokemon-button {
    background-color: rgb(255, 162, 75);
    border: none;
    border-radius: 6px;
    padding: 10px 24px;
    margin: 4px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Poppins";
    font-size: 16px;
    color: rgb(155, 79, 255);
    transition-duration: 0.4s;
    cursor: pointer;
    border: none;
}

.intput-wrapper {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    min-width: 75px;
}

.error-message {
    color: red;
    font-size: 0.8em;
}